@media (min-width: 320px) {
    body{
        height: 100vh;
        background-image: url("/assets/login/loginBg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .container{
        background-color: var(--white);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
        max-width: 70vw;
        border-radius: var(--box-radius);
    }

    .logo{
        max-width: 168px;
    }

    .description, label, input::placeholder, button{
        font-family: text-bold;
        color: var(--dark-gray);
    }

    .description{
        font-size: 3vmin;
    }

    .form__box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    label{
        display: block;
        text-align: left;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    input{
        width: 100%;
        border: 2px solid var(--default-red);
        background-color: var(--main-bg);
        border-radius: var(--box-radius);
        padding: 1.5rem;
    }

    .submit__button{
        background-color: var(--default-red);
        border: 2px solid transparent;
        padding: 1.5rem;
        border-radius: var(--box-radius);
        color: var(--white);
        font-size: 1.5rem;
        font-family: text-bold;
    }

    .password__reset{
        font-family: text-light;
        color: var(--default-red);
        text-decoration: underline;
        font-size: 1.3rem;
    }
}