@media (min-width: 320px){
    .main__box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 2vmax;
        font-family: text-bold;
    }

    .support__link{
        color: var(--default-red);
    }
}