@media (min-width: 320px){
    .graphic__image{
        width: 100%;
    }

    .see__more{
        text-decoration: underline;
    }

    .main__box{
        padding: 1rem;
        display: grid;
        grid-template-rows: min-content min-content min-content;
        gap: 2rem;
    }

    .filters__box{
        display: flex;
        gap: 2rem;
    }

    .button__section--box, .data__box{
        display: none;
    }
}

@media (min-width:750px) {
    .button__section--box, .data__box{
        display: block;
    }

    .main__box{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 
        "one two three"
        "graphic graphic graphic"
        "data-one data-two buttons"
        ;
    }

    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
    }
    .three{
        grid-area: three;
    }

    .graphic__box{
        grid-area: graphic;
    }

    .data__one{
        grid-area: data-one;
    }

    .data__two{
        grid-area: data-two;
    }

    .button__section--box{
        grid-area: buttons;
    }

    .title__text{
        font-size: 1.5rem;
        border: 1px solid black;
        text-align: center;
        padding: .5rem;
    }

    .data__box{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .data__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .description__box{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .description__content{
        font-size: 1.3rem;
        color: var(--default-red);
    }

    .button__box{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .button__item{
        padding: 1rem;
        border: 1px solid transparent;
        border-radius: .4rem;
        color: var(--white);
        font-size: 1.5rem;
        font-family: text-bold;
        background-color: var(--default-red);
    }

}

@media (min-width:1024px){
    main{
        margin-bottom: 5rem;
    }
}