@media (min-width:320px){
    .main__box{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 2rem;
    }
    .graphic__image{
        width: 100%;
    }
    .filters__box{
        display: flex;
        gap: 2rem;
    }
}

@media (min-width:750px){
    .main__box{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "one two three"
        "graphic graphic graphic"
        ;
    }

    .graphic__box{
        grid-area: graphic;
    }
}